.row
  .col-xs-12
    h1 Каталог
  .col-md-3
    +product(true, true, true)
  .col-md-3
    +product(true, true, true)
  .col-md-3
    +product(true, true, true)
  .col-md-3
    +product(true, true, true)
  