.row
  .col-xs-12
    .row.middle-xs
      .col-md-6.col-sm-6.col-xs-12
        h1 Каталог
      .col-md-6.hidden-sm.hidden-xs
        .catalog__sort
          p Сортировать:
          select.select-target
            option По названию (А-Я)
            option От дорогих к дешевым
  .col-xs-12
    .catalog__not
      h2 По данному запросу товара в наличие нет
      p О ближайшем поступлении вы можете получить<br> информацию у менеджеров салона по телефону:
      a.catalog__not__phone(href="tel:8 800 2000 779") 8 800 2000 779
      span Звонок бесплатный по всей России