.row
  .col-xs-12
    .row.middle-xs.hidden-md.catalog__filter__mobile
      .col-sm-6.col-xs-12
        a(href="#aside" data-aside).btn.btn-secondary  Фильтр
          .icon.icon-filter
      .col-sm-6.col-xs-12
        .catalog__sort
          p Сортировать:
          select
            option По названию (А-Я)
            option(data-img="123") От дорогих к дешевым1
    .row.middle-xs
      .col-md-6.col-xs-12
        h1 Каталог
      .col-md-6.hidden-sm.hidden-xs
        .catalog__sort
          p Сортировать:
          select.select-target
            option По названию (А-Я)
            option От дорогих к дешевым
  .col-md-3.col-sm-4.col-xs-6
    +product(true, true, true)
  .col-md-3.col-sm-4.col-xs-6
    +product(true, false, true, true)
  .col-md-3.col-sm-4.col-xs-6
    +product(false, false, true)
  .col-md-3.col-sm-4.col-xs-6
    +product(false, false, false)
  .col-md-3.col-sm-4.col-xs-6
    +product(true, true, true)
  .col-md-3.col-sm-4.col-xs-6
    +product(true, false, true)
  .col-md-3.col-sm-4.col-xs-6
    +product(false, false, true)
  .col-md-3.col-sm-4.col-xs-6
    +product(false, false, false)
