---
title: Каталог Ничего не найдено
---
extends layouts/_layout
block content
  +breadcrumb(['Главная', 'Каталог'])
  .catalog.catalog__not
    .container
      .row
        .col-md-3.hidden-sm.hidden-xs
          include partials/_aside
        .col-md-9.col-xs-12
          include catalog/catalog-not-found
          .up