---
title: Каталог 4 карточки
---
extends layouts/_layout
block content
  include partials/_breadcrumb
  .catalog
    .container
      .row
        .col-md-3
          include partials/_aside
        .col-md-9
          include catalog/catalog-4-card