---
title: Контент
---
extends layouts/_layout
block content
	+breadcrumb(['Главная', 'Контент'])
	.content
		.container
			.row
				.col-md-3
					include partials/_aside
				.col-md-9.col-xs-12
					.content__description
						h1 Заголовок — H1
						h2 Заголовок — H2
						p <span>Дизайнеры M.House</span>  помогут Вам создать свой <b>собственный, уникальный дизайн квартиры,</b> дома или офиса, который будет соответствовать всем Вашим пожеланиям, а так же подобрать мебель, светильники и аксессуары для дополнения интерьера. В нашем ассортименте есть настенные гобелены и посуда эксклюзивных французских брендов. Все клиенты M.HOUSE имеют возможность получать дополнительные скидки и бонусы в организациях-партнерах, занимающихся строительными и <span>отделочными материалами,</span> выполняющих работы по ремонту и отделке квартир и домов любой сложности, пошивом штор из эксклюзивных тканей. Вы будете приятно удивлены оперативной, добросовестной и слаженной работой по созданию Вашего интерьера:
						ul
							li Итальянские кухни
							li Французские гардеробы
							li Американские кабинеты
							li Итальянская мебель
						h2 Заголовок — H2
						ol
							li Итальянские кухни
							li Французские гардеробы
							li Американские кабинеты
							li Итальянская мебель
						img.content__left(src="img/content/content.png", alt="")
						p Дизайнеры M.House  помогут Вам создать свой собственный, уникальный дизайн квартиры, дома или офиса, который будет соответствовать всем Вашим пожеланиям, а так же подобрать мебель, светильники и аксессуары для дополнения интерьера. В нашем ассортименте есть настенные гобелены и посуда эксклюзивных французских брендов. Все клиенты M.HOUSE имеют возможность получать дополнительные скидки и бонусы в организациях-партнерах, занимающихся строительными и отделочными материалами, выполняющих работы по ремонту и отделке квартир и домов любой сложности, пошивом штор из эксклюзивных тканей. Вы будете приятно удивлены оперативной, добросовестной и слаженной работой по созданию Вашего интерьера. Дизайнеры M.House  помогут Вам создать свой собственный, уникальный дизайн квартиры, дома или офиса, который будет соответствовать всем Вашим пожеланиям, а так же подобрать мебель, светильники и аксессуары для дополнения интерьера. В нашем ассортименте есть настенные гобелены и посуда эксклюзивных французских брендов. Все клиенты M.HOUSE имеют возможность получать дополнительные скидки и бонусы в организациях-партнерах, занимающихся строительными и отделочными материалами, выполняющих работы по ремонту и отделке квартир и домов любой сложности, пошивом штор из эксклюзивных тканей. Вы будете приятно удивлены оперативной, добросовестной и слаженной работой по созданию Вашего интерьера. Дизайнеры M.House  помогут Вам создать свой собственный, уникальный дизайн квартиры, дома или офиса, который будет соответствовать всем Вашим пожеланиям, а так же подобрать мебель, светильники и аксессуары для дополнения интерьера. В нашем ассортименте есть настенные гобелены и посуда эксклюзивных французских брендов. Все клиенты M.HOUSE имеют возможность получать дополнительные скидки и бонусы в организациях-партнерах, занимающихся строительными и отделочными материалами, выполняющих работы по ремонту и отделке квартир и домов любой сложности, пошивом штор из эксклюзивных тканей. Вы будете приятно удивлены оперативной, добросовестной и слаженной работой по созданию Вашего интерьера
						blockquote
							p Дизайнеры M.House  помогут Вам создать свой собственный, уникальный дизайн квартиры
						img.content__right(src="img/content/content.png", alt="")
						p Дизайнеры M.House  помогут Вам создать свой собственный, уникальный дизайн квартиры, дома или офиса, который будет соответствовать всем Вашим пожеланиям, а так же подобрать мебель, светильники и аксессуары для дополнения интерьера. В нашем ассортименте есть настенные гобелены и посуда эксклюзивных французских брендов. Все клиенты M.HOUSE имеют возможность получать дополнительные скидки и бонусы в организациях-партнерах, занимающихся строительными и отделочными материалами, выполняющих работы по ремонту и отделке квартир и домов любой сложности, пошивом штор из эксклюзивных тканей. Вы будете приятно удивлены оперативной, добросовестной и слаженной работой по созданию Вашего интерьера. Дизайнеры M.House  помогут Вам создать свой собственный, уникальный дизайн квартиры, дома или офиса, который будет соответствовать всем Вашим пожеланиям, а так же подобрать мебель, светильники и аксессуары для дополнения интерьера. В нашем ассортименте есть настенные гобелены и посуда эксклюзивных французских брендов. Все клиенты M.HOUSE имеют возможность получать дополнительные скидки и бонусы в организациях-партнерах, занимающихся строительными и отделочными материалами, выполняющих работы по ремонту и отделке квартир и домов любой сложности, пошивом штор из эксклюзивных тканей. Вы будете приятно удивлены оперативной, добросовестной и слаженной работой по созданию Вашего интерьера. Дизайнеры M.House  помогут Вам создать свой собственный, уникальный дизайн квартиры, дома или офиса, который будет соответствовать всем Вашим пожеланиям, а так же подобрать мебель, светильники и аксессуары для дополнения интерьера. В нашем ассортименте есть настенные гобелены и посуда эксклюзивных французских брендов. Все клиенты M.HOUSE имеют возможность получать дополнительные скидки и бонусы в организациях-партнерах, занимающихся строительными и отделочными материалами, выполняющих работы по ремонту и отделке квартир и домов любой сложности, пошивом штор из эксклюзивных тканей. Вы будете приятно удивлены оперативной, добросовестной и слаженной работой по созданию Вашего интерьера
						.content__slider1.owl-carousel.owl-theme(data-slider-id="1")
							.item
								img(src="img/content/content.png", alt="")
							.item
								img(src="img/content/content.png", alt="")
							.item
								img(src="img/content/content.png", alt="")
							.item
								img(src="img/content/content.png", alt="")
							.item
								img(src="img/content/content.png", alt="")
							.item
								img(src="img/content/content.png", alt="")
							.item
								img(src="img/content/content.png", alt="")
						.swiper
							.swiper-container.swiper__content
								.swiper-wrapper.owl-thumbs(data-slider-id="1")
									button.owl-thumb-item.swiper-slide
										img(src="img/content/content.png", alt="")
									button.owl-thumb-item.swiper-slide
										img(src="img/content/content.png", alt="")
									button.owl-thumb-item.swiper-slide
										img(src="img/content/content.png", alt="")
									button.owl-thumb-item.swiper-slide
										img(src="img/content/content.png", alt="")
									button.owl-thumb-item.swiper-slide
										img(src="img/content/content.png", alt="")
							.swiper-button-prev.content-prev
								i.icon.icon-slider-left
							.swiper-button-next.content-next
								i.icon.icon-slider-right
						h2 Заголовок — H2
						.table
							table
								tr
									th  
									th Заголовок столбца
									th Заголовок столбца
									th Заголовок столбца
								tr
									th Заголовок строки
									td Текст
									td Текст
									td Текст
								tr
									th Заголовок строки
									td Текст
									td Текст
									td Текст
								tr
									th Заголовок строки
									td -
									td Текст
									td Текст
						.content__files
							.row
								.col-md-3.col-sm-4.col-xs-12
									a(href="#")
										i.icon.icon-pdf__content
										.content__files__description
											p Каталог BASSETT MIRROR
											span (4.51Mb)
											b Скачать
								.col-md-3.col-sm-4.col-xs-12
									a(href="#")
										i.icon.icon-pdf__content
										.content__files__description
											p Каталог BASSETT MIRROR
											span (4.51Mb)
											b Скачать
								.col-md-3.col-sm-4.col-xs-12
									a(href="#")
										i.icon.icon-jpeg
										.content__files__description
											p Каталог BASSETT MIRROR
											span (4.51Mb)
											b Скачать
								.col-md-3.col-sm-4.col-xs-12
									a(href="#")
										i.icon.icon-xls
										.content__files__description
											p Каталог BASSETT MIRROR
											span (4.51Mb)
											b Скачать
						.content__links-1
							.row
								.col-md-3.col-sm-4.col-xs-12
									a(href="#")
										i.icon.icon-folder
										p Товар в наличии на складе и в салоне. А также товар в пути.
								.col-md-3.col-sm-4.col-xs-12
									a(href="#")
										i.icon.icon-folder
										p Michael Amini (AICO)
								.col-md-3.col-sm-4.col-xs-12
									a(href="#")
										i.icon.icon-folder
										p Michael Amini (AICO)
								.col-md-3.col-sm-4.col-xs-12
									a(href="#")
										i.icon.icon-folder
										p Michael Amini (AICO)
						.content__links-2
							.row
								.col-md-3.col-sm-4.col-xs-12
									a(href="#")
										i.icon.icon-stock
										p Складские остатки
								.col-md-3.col-sm-4.col-xs-12
									a(href="#")
										i.icon.icon-price-list
										p Прайс-листы
								.col-md-3.col-sm-4.col-xs-12
									a(href="#")
										i.icon.icon-catalog
										p Каталоги
								.col-md-3.col-sm-4.col-xs-12
									a(href="#")
										i.icon.icon-notebook
										p Коммерческое предложение дилерам
						h2 Заголовок — H2
						form.form.form-content
							.form-group
								label.form-label(for='login-email-1') E-mail
								input#login-email-1.form-input(type='text')
							.form-group
								label.form-label(for='login-phon-1') Контактный телефон
								input#login-phon-1.form-input(type='phone')
							.form-group
								label.form-label(for='login-name-1') ФИО
								input#login-name-1.form-input(type='text')
							p Сменить пароль
							.form-group
								label.form-label(for='login-pass-1') Новый пароль
								input#login-pass-1.form-input(type='password')
							.form-group
								label.form-label(for='login-pass-2') Подтвердите пароль
								input#login-pass-2.form-input(type='password')
							.form-group
								button.btn.btn-primary(type="submit") Редактировать
						.up