.filter
  background-color: #313131
  padding: 25px 40px
  height: 100%
  &__form
    &__checkbox
      display: flex
      flex-wrap: wrap
      align-items: center
      margin: 40px 0
      input
        display: none
      .label
        width: 20px
        height: 20px
        border: solid 1px $primary
        border-radius: 2px
        margin-right: 12px
        cursor: pointer
        +center
        &:before
          content: ''
          position: absolute
          width: 12px
          height: 12px
          background: $primary
          opacity: 0
          +tr
      .label-for
        flex: 1
        font-size: 14px
        font-weight: 500
        color: $white
        cursor: pointer
        a
          color: $primary
          text-decoration: none
          font-weight: 500
          &:hover
            text-decoration: underline
      input
        &:checked + .label:before
          opacity: 1
  &__block
    padding: 25px 0
    border-bottom: 1px solid #434343
    position: relative
    &__more
      width: 30px
      height: 26px
      background: #414141
      border-radius: 3px
      text-decoration: none
      color: $white
      font-size: 10px
      position: absolute
      right: 0
      +center
      &:before
        content: $icon-filter-arrow
        @extend %icon
      
    h3
      font-size: 14px
      font-weight: bold
      letter-spacing: 1
      color: rgba($primary, 0.8)
      text-transform: uppercase
      margin-bottom: 10px
    h4
      font-size: 11px
      font-weight: 500
      letter-spacing: 0.5px
      text-transform: uppercase
      color: rgba($white, 0.5)
    ul
      max-height: 90px
      overflow: scroll
      padding-left: 10px
      margin-top: 15px
      li
        margin-bottom: 5px
      a
        font-size: 12px
        font-weight: 500
        line-height: 1.25
        letter-spacing: 0.5px
        color: $white
        text-transform: uppercase
        text-decoration: none
