.product
  &__card
    width: 260px
    background: $white
    height: 100%
    display: block
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.17)
    border-radius: 2px
    margin-left: 10px
    +tr
    +r($tablet)
      width: 220px
      margin-left: 0
    +r($mobile)
      width: 100%
    &:hover
      box-shadow: 0 10px 20px rgba(0,0,0,.3)
      position: relative
      z-index: 10
    &__header
      position: relative
      &__image
        width: 100%
        height: 210px
        overflow: hidden
        display: block
        position: relative
        +r($tablet)
          height: 170px
        img
          width: 100%
          height: 100%
          display: block
          left: 50%
          position: absolute
          transform: translateX(-50%)
          object-fit: cover
        &--no-stock
          position: absolute
          height: 40px
          width: 100%
          background-color: rgba(#383838, 0.35)
          border-radius: 1.6px
          bottom: 0
          +center
          color: $white
          font-size: 15px
          font-weight: 500
          letter-spacing: 1.1px
          text-transform: uppercase
          +r($tablet)
            font-size: 13px
      .top
        position: absolute
        top: 15px
        font-size: 14px
        color: $white
        width: 60px
        height: 30px
        text-transform: uppercase
        letter-spacing: 1.1px
        border-radius: 1.6px
        +center
        +r($tablet)
          width: 43px
          height: 22px
          font-size: 11px
          letter-spacing: 0.9px
      &__hits
        left: 20px
        background: $green
        +center
        +r($tablet)
          left: 12px
      &__sale
        top: 20px
        left: 85px
        background: $red
        +r($tablet)
          left: 60px
      &__wishlist
        position: absolute
        top: 15px
        right: 15px
        width: 25px
        height: 25px
        cursor: pointer
        i
          font-size: 23px
          color: $red
          +tr
          +r($tablet)
            font-size: 18px
        .icon-heart-red
          position: absolute
          left: 0
          top: 0
          opacity: 0
          +r($tablet)
            font-size: 19px
    &__content
      padding: 30px
      text-align: center
      +r($tablet)
        padding: 35px
      a
        text-decoration: none
        &:hover
          text-decoration: underline
          color: rgba($black-three, 0.9)
      h3
        font-size: 16px
        text-transform: uppercase
        line-height: 1.38
        letter-spacing: 1px
        color: rgba($black-three, 0.9)
        font-weight: 600
        margin-bottom: 5px
        margin-top: -4px
        height: 45px
        +r($tablet)
          font-size: 13px
      span
        display: block
        font-weight: 400
        font-size: 13px
        color: rgba($black-three, 0.8)
        margin-bottom: 8px
        +r($tablet)
          font-size: 10px
      &__price
        div
          height: 45px
          +center
          flex-direction: column
          +r($tablet)
            height: 100%
            padding-top: 10px
            height: 36px
        s
          color: #acacac
          margin-right: 5px
          font-weight: 500
          letter-spacing: 0.6px
          display: block
          font-size: 13px
          +r($tablet)
            font-size: 11px
        p
          color: $green
          font-weight: normal
          display: inline-block
          margin-bottom: 10px
          font-size: 13px
          +r($tablet)
            font-size: 11px
            font-weight: 600
            margin-top: -13px
            margin-bottom: 10px
        h4
          margin: 5px
          font-size: 22px
          letter-spacing: 1.1px
          color: #393939
          height: 30px
          +r($tablet)
            font-size: 18px
            letter-spacing: 0.8px
      .btn
        +center
        height: 45px
        padding: 0
        width: 100%
        +r($tablet)
          height: 33px
        &:hover
          color: $white !important
      &.no-stock
        p
          color: $primary
        h4
          font-size: 21px
          color: #acacac
          font-weight: 600
          position: relative
          top: -5px
          +r($tablet)
            font-size: 17px
            top: 0
          +r($mobile)
            top: 0
            font-size: 16px


.catalog .product__card
  width: 211px
  margin-left: 0
  height: initial
  margin-bottom: 17px
  +r($tablet)
    width: 220px
    margin-bottom: 20px
  +r($mobile)
    width: 100%
    margin-bottom: 5px
  &__content
    padding: 22px
    padding-bottom: 15px
    h3
      font-size: 12.5px
      height: 35px
  &__header
    &__image
      height: 170px
      +r($mobile)
        height: 125px
      &--no-stock
        font-size: 11px
        letter-spacing: 0.8px
    .top
      top: 12px
      width: 40px
      height: 20px
      font-size: 11px
      +r($mobile)
        top: 9px
        width: 35px
        height: 18px
        font-size: 10px
    &__hits
      left: 12px
      +r($mobile)
        left: 10px
    &__sale
      left: 60px
      +r($mobile)
        left: 50px
    &__wishlist
      top: 12px
      right: 12px
      i
        font-size: 20px
      +r($mobile)
        top: 9px
        right: 10px
      .wishlist__btn__tooltip
        left: -29px
        +r($mobile)
          right: -10px
          left: initial
          &:before
            right: 12px
            left: initial
  &__content
    padding-top: 33px
    +r($mobile)
      padding: 15px
    h3
      margin-bottom: 12px
      line-height: 1.35
      letter-spacing: 0.7px
      +r($mobile)
        font-size: 12px
        display: flex
        align-items: center
        height: 40px
    span
      font-size: 11px
      +r($mobile)
        margin-bottom: 0
        font-size: 10px
    .btn
      +r($mobile)
        font-size: 11px !important
    &__price
      div
        height: 40px
        p
          font-size: 10.9px !important
          font-weight: 600
          +r($mobile)
            margin-bottom: 5px !important
            font-size: 10px !important
        s
          font-size: 10.9px
          letter-spacing: 0.4px
          font-weight: 500
        +r($mobile)
          p
            margin-bottom: 0
            margin-right: 5px
            font-size: 9px
          s
            font-size: 9px
      h4
        font-size: 17.5px
        letter-spacing: 0.8px
        +r($mobile)
          font-size: 14px
          margin: 0
  .no-stock
    h4
      font-size: 15.3px !important
      font-weight: 500
      letter-spacing: 0.8px
      +r($mobile)
        font-size: 12px !important
  .btn
    font-size: 11px
    height: 35px
    +r($tablet)
      margin-bottom: 20px
    +r($mobile)
      height: 30px
      font-size: 10px
      margin-bottom: 0
      width: 100%


.wishlist__btn
  &.active
    .icon-heart
      opacity: 0
      +tr
    .icon-heart-red
      opacity: 1
      +tr
  &__tooltip
    width: 193px
    border-radius: 3px
    background-color: #f8dfb1
    position: absolute
    padding: 10px
    left: -27px
    top: 40px
    z-index: 10
    white-space: nowrap
    display: none
    p
      font-size: 13px
      color: #0e0e0e
      text-align: center
    &:before
      content: ''
      width: 0
      height: 0
      border-style: solid
      border-width: 0 10px 10px 10px
      border-color: transparent transparent #f8dfb1 transparent
      position: absolute
      top: -10px
      left: 30px
    
.content
  .hits 
    .swiper-container
      width: calc(100% - 50px)
  .product__card
    width: 100%