aside.aside.filter
  .filter__form
    button.btn.btn-filter(type="submit") Сбросить фильтр
    .filter__form__checkbox
      input#stock(type="checkbox", name="")
      label.label(for="stock")
      label.label-for(for="stock") Товары в наличии
    .filter__block
      a(href="#").filter__block__more
      h3 Категории
      h4 Ничего не выбрано
    .filter__block
      a(href="#").filter__block__more
      h3 Бренды
      h4 Ничего не выбрано
      //- h4 Выбрано:
      //- ul.scrollbar
      //-   li
      //-     a(href="#") Giorgio Casa
      //-   li
      //-     a(href="#") FFDM
      //-   li
      //-     a(href="#") DV Home Collection
      //-   li
      //-     a(href="#") De Baggis
      //-   li
      //-     a(href="#") Giorgio Casa
      //-   li
      //-     a(href="#") FFDM
      //-   li
      //-     a(href="#") DV Home Collection
      //-   li
      //-     a(href="#") De Baggis
    .filter__block
      a(href="#").filter__block__more
      h3 Бренды
      h4 Ничего не выбрано
      //- h4 Выбрано:
      //- ul.scrollbar
      //-   li
      //-     a(href="#") Giorgio Casa
      //-   li
      //-     a(href="#") FFDM
      //-   li
      //-     a(href="#") DV Home Collection
      //-   li
      //-     a(href="#") De Baggis
      //-   li
      //-     a(href="#") Giorgio Casa
      //-   li
      //-     a(href="#") FFDM
      //-   li
      //-     a(href="#") DV Home Collection
      //-   li
      //-     a(href="#") De Baggis

