aside.aside.aside-profile
  .close
    i.icon.icon-close
  h2
    a(href="#") Все о дизайне
  .aside-profile__factories
    h3 Фабрики
    ul
      li
        a(href="#") ALTA MODA
      li
        a(href="#") ANGELO CAPPELLINI
      li
        a(href="#") BASSETT MIRROR
      li
        a(href="#") ALTA MODA
      li
        a(href="#") ANGELO CAPPELLINI
      li
        a(href="#") BASSETT MIRROR
  .aside-profile__personal-area
    .aside-profile__personal-area__block
      h4
        i.icon.icon-dealer
        a(href="#") Личный кабинет
      p Евгений Дубровский
    .aside-profile__personal-area__block
      a(href="#") Профиль
      a(href="#") Мои подборки
  .aside-profile__menu
    ul
      li
        a(href="#") Складские остатки
      li
        a(href="#") Прайс-листы
      li
        a(href="#") Каталоги
      li
        a(href="#") Коммерчиское предложение дилерам
    a(href="#").btn.btn-filter Выйти из личного кабинета