footer.footer
  .container
    .row
      .col-md-7.col-sm-12.col-xs-12
        .footer__row
          .footer__list
            a(href="#") Каталог
            ul
              li
                a(href="#") Аксессуары
              li
                a(href="#") Посуда
              li
                a(href="#") Свет
              li
                a(href="#") Текстиль
              li
                a(href="#") Мебель
          .footer__list
            a(href="#") Наличие
              div
                i.icon.icon-sale
                span %SALE
          .footer__list
            a(href="#") Бренды
            ul
              li
                a(href="#") США
              li
                a(href="#") Италия
              li
                a(href="#") Испания
              li
                a(href="#") Франция
          .footer__list
            a(href="#") Дилерам
          .footer__list
            a(href="#") О компании
            ul
              li
                a(href="#") Информация 
              li
                a(href="#") Контакты 
              li
                a(href="#") Пользовательское соглашение
      .col-md-5.col-sm-12.col-xs-12
        .footer__contact
          .footer__contact__block
            a(href="mailto:info@mhid.ru") info@mhid.ru
          .footer__contact__block
            a(href="tel:8 800 2000 779") 8 800 2000 779
            p Бесплатно по всей России
        .footer__social
          a(href="#")
            i.icon.icon-facebook
          a(href="#")
            i.icon.icon-instagram
          a(href="#")
            i.icon.icon-vk
          a(href="#")
            i.icon.icon-twitter
          a(href="#")
            i.icon.icon-linkedin
          a(href="#")
            i.icon.icon-od
          a(href="#")
            i.icon.icon-pinterest
    .row
      .col-md-5.col-sm-12.col-xs-12
        .footer__copy
          p ©m.house 2017
          p Нижний Новгород, ул. Республиканская д. 43, к. 7
      .col-md-3.col-md-offset-4.col-sm-12.col-xs-12.last-md.first-xs
        .footer__view
          p Рады видеть вас в 
            a(href="#") салонах M. House
