//BEGIN header
.top__banner
  .container
    .row.middle-xs
      .col-md-8.col-sm-7.col-xs7
        p Скидка 50% на весь ассортимент Hooker
      .col-md-4.col-sm-5.col-sm-5.hidden-xs
        a(href="#sale" rel="modal:open")
          i.icon.icon-top-banner
          span Перейти в каталог бренда
    .close
      i.icon.icon-close
header.header
  .container
    .row.middle-xs
      .col-sm-1.hidden-md.col-xs-2
        .open-menu
          div
      .col-md-1.col-sm-2.col-xs-4
        a(href="/").logo
          img(src="img/logo.svg", alt="")
      .col-md-6.hidden-sm.hidden-xs
        .header__info
          a(href="#sign" rel="modal:open")
            i.icon.icon-delivery
            p Доставка по всей России
          a(href="#login" rel="modal:open")
            i.icon.icon-dealer
            p Вход для дилеров
          a(href="#").music
            i.icon.icon-music-on
            p Музыка вкл.
        nav
          ul
            li.sub-open
              a(href="catalog.html") 
                span Каталог
              .sub
                .sub__triangle
                .sub__block
                  h3 Мебель
                  ul
                    li
                      a(href="#") Вся мебель
                    li
                      a(href="#") Кухня
                    li
                      a(href="#") Гостиная
                    li
                      a(href="#") Мягкая мебель
                    li
                      a(href="#") Столовая
                    li
                      a(href="#") Спальня
                    li
                      a(href="#") Кабинет
                    li
                      a(href="#") Детская
                    li
                      a(href="#") Прихожая
                    li
                      a(href="#") Гардероб
                    li
                      a(href="#") Акценты
                    li
                      a(href="#") Мебель для сада
                .sub__block
                  h3 Посуда
                  ul
                    li
                      a(href="#") Вся посуда
                    li
                      a(href="#") Блюдо
                    li
                      a(href="#") Молочник
                    li
                      a(href="#") Салатник
                    li
                      a(href="#") Сахарница
                    li
                      a(href="#") Тарелка
                    li
                      a(href="#") Фруктовница
                    li
                      a(href="#") Чашка с блюдцем
                .sub__block
                  h3 Текстиль
                  ul
                    li
                      a(href="#") Весь текстиль
                    li
                      a(href="#") Покрывало
                    li
                      a(href="#") Постельный набор
                    li
                      a(href="#") Гобелен
                  h3 Свет
                  ul
                    li
                      a(href="#") Весь свет
                    li
                      a(href="#") Люстра
                    li
                      a(href="#") Настольные лампы
                    li
                      a(href="#") Торшер
                    li
                      a(href="#") Бра
                .sub__block
                  h3 Аксессуары
                  ul
                    li
                      a(href="#") Все аксессуары
                    li
                      a(href="#") Ваза
                    li
                      a(href="#") Декоративный элемент
                    li
                      a(href="#") Держатель для книг
                    li
                      a(href="#") Картина
                    li
                      a(href="#") Мини-бар
                    li
                      a(href="#") Поднос
                    li
                      a(href="#") Подсвечник
            li
              a(href="#") 
                span Наличие
                div
                  i.icon.icon-sale
                  span %Sale
            li
              a(href="#") 
                span Бренды
            li
              a(href="#") 
                span Дилерам
            li
              a(href="#") 
                span О компании     
      .col-md-3.col-sm-5.hidden-xs
        .header__phone
          a(href="tel:8 800 2000 779") 8 800 2000 779
          p Бесплатно по всей России
      .col-md-2.col-sm-3.col-sm-offset-1.col-md-offset-0.col-xs-6
        .header__toolbar
          a.open-seacrh
            i.icon.icon-search
          a(href="#")
            i.icon.icon-phone
          a(href="#").wishlist__btn
            i.icon.icon-heart
            span 74
          a(href="#").cart__btn
            i.icon.icon-cart
            span 4
  .search
    div
      i.icon.icon-search
      input(type="text" placeholder="Поиск по сайту")
      i.icon.icon-close.close
//END header

.mobile-menu
  ul
    li
      a(href="#") Каталог
      .mobile-sub
        ul
          li
            a(href="#") Аксессуары
          li
            a(href="#") Посуда
          li
            a(href="#") Свет
          li
            a(href="#") Текстиль
          li
            a(href="#") Мебель
    li
      a(href="#") Наличие
        div
          i.icon.icon-sale
          span %Sale
    li
      a(href="#") Бренды
      .mobile-sub
        ul
          li
            a(href="#") Аксессуары
          li
            a(href="#") Посуда
          li
            a(href="#") Свет
          li
            a(href="#") Текстиль
          li
            a(href="#") Мебель
    li
      a(href="#") Дилерам
    li
      a(href="#") О компании
      .mobile-sub
        ul
          li
            a(href="#") Аксессуары
          li
            a(href="#") Посуда
          li
            a(href="#") Свет
          li
            a(href="#") Текстиль
          li
            a(href="#") Мебель
  .header__info
    a(href="#sign" rel="modal:open")
      i.icon.icon-delivery
      p Доставка по всей России
    a(href="#login" rel="modal:open")
      i.icon.icon-dealer
      p Вход для дилеров
  .footer__contact
    .footer__contact__block
      a(href="mailto:info@mhid.ru") info@mhid.ru
    .footer__contact__block
      a(href="tel:8 800 2000 779") 8 800 2000 779
      p Бесплатно по всей России
  .footer__social
    a(href="#")
      i.icon.icon-facebook
    a(href="#")
      i.icon.icon-instagram
    a(href="#")
      i.icon.icon-vk
    a(href="#")
      i.icon.icon-twitter
    a(href="#")
      i.icon.icon-linkedin
    a(href="#")
      i.icon.icon-od
    a(href="#")
      i.icon.icon-pinterest
  .footer__view
    p Рады видеть вас в 
      a(href="#") салонах M. House
  .footer__copy
    p ©m.house 2017
    p Нижний Новгород, ул. Республиканская д. 43, к. 7