.pagination
  a(href="#").prev
    i.icon.icon-slider-left
  a(href="#").is-active 1
  a(href="#") 2
  a(href="#") 3
  a(href="#") 4
  span
    i
    i
    i
  a(href="#") 31
  a(href="#").next
    i.icon.icon-slider-right