.about
  background: $white
  h2
    background: $grey
    padding-bottom: 30px
    +r($tablet)
      font-size: 19px
  img
    width: 150px
  p
    margin-bottom: 40px
    font-size: 16px
    font-weight: 300
    line-height: 1.38
    color: $black-three
    padding: 0 250px
    +r($tablet)
      padding: 0 20px
    +r($mobile)
      padding: 0
      margin-bottom: 10px
  .btn
    left: 50%
    transform: translateX(-50%)
    font-size: 13px
    +r($mobile)
      width: 100%
  iframe
    position: absolute
    top: 0
    width: 100%
    height: 100%
  video
    position: absolute
    top: 0
    width: 100%
    height: 100%
  .swiper
    &-container
      height: 600px
      margin-top: 50px
      +r($tablet)
        height: 460px
      +r($mobile)
        height: 420px
    &-slide
      display: flex
      align-items: center
      justify-content: flex-end
      flex-direction: column
      position: relative
      p
        font-size: 15px
        letter-spacing: 0.4px
        text-align: center
        color: $white
        padding: 0
        margin-bottom: 105px
        font-weight: 500
        +r($mobile)
          padding: 0 30px
      a
        background: $primary
        text-decoration: none
        color: $white
        font-size: 13px
        width: 230px
        height: 30px
        +center
        border-radius: 3px
        position: absolute
        bottom: 50px
        left: 50%
        transform: translateX(-50%)
        text-transform: uppercase
        +tr
        i
          margin-left: 30px
          font-size: 9px
  .swiper-container
    .swiper-pagination
      bottom: 20px
      display: flex
      justify-content: center
      +r($tablet)
        bottom: 32%
      +r($mobile)
        bottom: 20px
    .swiper
      &-button
        &-prev, &-next
          opacity: 1
          height: 100%
          margin: 0
          display: flex
          align-items: center
          top: 0
          z-index: 10
        &-disabled
          opacity: 0.5
        &-prev
          left: 20px
        &-next
          right: 20px