.about
  background: $white
  h2
    background: $grey
    padding-bottom: 30px
  img
    margin-bottom: 40px
  p
    margin-bottom: 40px
    font-size: 16px
    font-weight: 300
    line-height: 1.38
    color: $black-three
    padding: 0 250px
  .swiper
    &-container
      height: 600px
      margin-top: 50px
    &-slide
      display: flex
      align-items: center
      justify-content: flex-end
      flex-direction: column
      p
        font-size: 15px
        letter-spacing: 0.4px
        text-align: center
        color: $white
        padding: 0
        margin-bottom: 35px
      a
        background: $primary
        color: $white
        font-size: 13px
        text-transform: uppercase
        text-decoration: none
        padding: 7px 17px
        border-radius: 120px
        margin-bottom: 50px
        display: inline-block
        i
          font-size: 10px
          margin-left: 60px
  .swiper-container
    .swiper-pagination
      bottom: 170px
      display: flex
      justify-content: center