.hits
  padding-top: 60px
  padding-bottom: 70px
  overflow: hidden
  +r($mobile)
    padding-top: 30px
  .container
    position: relative
  h2
    margin-bottom: 22px
    +r($tablet)
      font-size: 19px
    +r($mobile)
      margin-bottom: 10px
  .swiper-container
    width: calc(100% - 70px)
    padding-top: 20px
    padding-left: 5px
    +r($tablet)
      width: 220px
      overflow: visible
      padding-left: 0
  .swiper-slide
    +r($mobile)
      width: 220px !important
  .swiper-pagination
    margin-top: 40px
    transform: translateX(0) !important
    position: static
    margin-bottom: 35px
    +center
    flex-wrap: wrap
    &-bullet
      margin: 5px
  .btn
    position: relative
    left: 50%
    transform: translateX(-50%)
    width: 280px
    font-size: 13px

