.hits
  padding-top: 60px
  padding-bottom: 70px
  overflow: hidden
  .container
    position: relative
  h2
    margin-bottom: 45px
  .swiper
    &-button
      &-prev, &-next
        background: none
        color: $primary
        font-size: 38px
        opacity: 0.9
        +r($tablet)
          display: none
      &-disabled
        opacity: 0.3
      &-prev
        left: 0
      &-next
        right: -5px
  .swiper-container
    width: calc(100% - 80px)
    +r($tablet)
      width: 100%
      overflow: visible
    .swiper
      &-pagination
        margin-top: 40px
        transform: translateX(0)
        position: static
        margin-bottom: 35px
        +center
  .btn
    position: relative
    left: 50%
    transform: translateX(-50%)
    width: 280px

