.hits
  padding-top: 60px
  padding-bottom: 70px
  overflow: hidden
  .container
    position: relative
  h2
    margin-bottom: 45px
  .swiper-container
    width: calc(100% - 80px)
    +r($tablet)
      width: 100%
      overflow: visible
    .swiper
      &-pagination
        margin-top: 40px
        transform: translateX(0)
        position: static
        margin-bottom: 35px
        +center
  .btn
    position: relative
    left: 50%
    transform: translateX(-50%)
    width: 280px

