.info
  background: $white
  padding: 35px 0
  margin-top: 40px
  &__block
    display: flex
    &__icon
      margin-right: 15px
      i
        color: $primary
    &__content
      h3
        color: $primary
        font-size: 14px
        font-weight: bold
        letter-spacing: 1px
        text-transform: uppercase
        margin-bottom: 5px
      p 
        font-size: 13px
        letter-spacing: 0.3px
        color: rgba($black-three, 0.7)
        width: 90%
    &:nth-of-type(1) i
      font-size: 35px
    &:nth-of-type(2) i
      font-size: 41px
    &:nth-of-type(3) i
      font-size: 52px
    &:nth-of-type(4) i
      font-size: 45px