@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-arrow-right: "\EA01";
$icon-cart: "\EA02";
$icon-close: "\EA03";
$icon-dealer: "\EA04";
$icon-delivery: "\EA05";
$icon-heart: "\EA06";
$icon-info-1: "\EA07";
$icon-info-2: "\EA08";
$icon-info-3: "\EA09";
$icon-info-4: "\EA0A";
$icon-music-off: "\EA0B";
$icon-music-on: "\EA0C";
$icon-phone: "\EA0D";
$icon-sale: "\EA0E";
$icon-search: "\EA0F";
$icon-top-banner: "\EA10";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-arrow-right:before { content: $icon-arrow-right; }
.icon-cart:before { content: $icon-cart; }
.icon-close:before { content: $icon-close; }
.icon-dealer:before { content: $icon-dealer; }
.icon-delivery:before { content: $icon-delivery; }
.icon-heart:before { content: $icon-heart; }
.icon-info-1:before { content: $icon-info-1; }
.icon-info-2:before { content: $icon-info-2; }
.icon-info-3:before { content: $icon-info-3; }
.icon-info-4:before { content: $icon-info-4; }
.icon-music-off:before { content: $icon-music-off; }
.icon-music-on:before { content: $icon-music-on; }
.icon-phone:before { content: $icon-phone; }
.icon-sale:before { content: $icon-sale; }
.icon-search:before { content: $icon-search; }
.icon-top-banner:before { content: $icon-top-banner; }
