@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-arrow-down-menu: "\EA01";
$icon-arrow-right: "\EA02";
$icon-cart: "\EA03";
$icon-close: "\EA04";
$icon-dealer: "\EA05";
$icon-delivery: "\EA06";
$icon-facebook: "\EA07";
$icon-heart: "\EA08";
$icon-info-1: "\EA09";
$icon-info-2: "\EA0A";
$icon-info-3: "\EA0B";
$icon-info-4: "\EA0C";
$icon-instagram: "\EA0D";
$icon-linkedin: "\EA0E";
$icon-music-off: "\EA0F";
$icon-music-on: "\EA10";
$icon-od: "\EA11";
$icon-phone: "\EA12";
$icon-pinterest: "\EA13";
$icon-sale: "\EA14";
$icon-search: "\EA15";
$icon-slider-left: "\EA16";
$icon-slider-right: "\EA17";
$icon-top-banner: "\EA18";
$icon-twitter: "\EA19";
$icon-vk: "\EA1A";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-arrow-down-menu:before { content: $icon-arrow-down-menu; }
.icon-arrow-right:before { content: $icon-arrow-right; }
.icon-cart:before { content: $icon-cart; }
.icon-close:before { content: $icon-close; }
.icon-dealer:before { content: $icon-dealer; }
.icon-delivery:before { content: $icon-delivery; }
.icon-facebook:before { content: $icon-facebook; }
.icon-heart:before { content: $icon-heart; }
.icon-info-1:before { content: $icon-info-1; }
.icon-info-2:before { content: $icon-info-2; }
.icon-info-3:before { content: $icon-info-3; }
.icon-info-4:before { content: $icon-info-4; }
.icon-instagram:before { content: $icon-instagram; }
.icon-linkedin:before { content: $icon-linkedin; }
.icon-music-off:before { content: $icon-music-off; }
.icon-music-on:before { content: $icon-music-on; }
.icon-od:before { content: $icon-od; }
.icon-phone:before { content: $icon-phone; }
.icon-pinterest:before { content: $icon-pinterest; }
.icon-sale:before { content: $icon-sale; }
.icon-search:before { content: $icon-search; }
.icon-slider-left:before { content: $icon-slider-left; }
.icon-slider-right:before { content: $icon-slider-right; }
.icon-top-banner:before { content: $icon-top-banner; }
.icon-twitter:before { content: $icon-twitter; }
.icon-vk:before { content: $icon-vk; }
