.icon-arrow-down-menu {
  width: 1.57em;
  height: 1em;
  fill: #565656;
}
.icon-arrow-right {
  width: 2.2em;
  height: 1em;
  fill: #FFF;
}
.icon-basket {
  width: 1.13em;
  height: 1em;
  fill: #FFF;
}
.icon-cart {
  width: 1.13em;
  height: 1em;
  fill: #646464;
}
.icon-catalog {
  width: 1.29em;
  height: 1em;
  fill: #C8A05F;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-dealer {
  width: 0.83em;
  height: 1em;
  fill: #C59850;
}
.icon-delivery {
  width: 1.42em;
  height: 1em;
  fill: #C59850;
}
.icon-doc {
  width: 0.9em;
  height: 1em;
  fill: #FFF;
}
.icon-double-arrow-left {
  width: 0.71em;
  height: 1em;
  fill: #FFF;
}
.icon-double-arrow-right {
  width: 0.71em;
  height: 1em;
  fill: #FFF;
}
.icon-facebook {
  width: 0.5em;
  height: 1em;
  fill: #B78C4D;
}
.icon-filter-arrow {
  width: 0.64em;
  height: 1em;
  fill: #FFF;
}
.icon-filter {
  width: 1.18em;
  height: 1em;
  fill: #C59850;
}
.icon-folder {
  width: 1.22em;
  height: 1em;
  fill: #D0B07D;
}
.icon-heart-red {
  width: 1.07em;
  height: 1em;
  fill: #BC1B1B;
}
.icon-heart {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-info-1 {
  width: 2.39em;
  height: 1em;
  fill: none;
}
.icon-info-2 {
  width: 1em;
  height: 1em;
  fill: #C59850;
}
.icon-info-3 {
  width: 1.28em;
  height: 1em;
  fill: initial;
}
.icon-info-4 {
  width: 1em;
  height: 1em;
  fill: #C59850;
}
.icon-info {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #B78C4D;
}
.icon-jpeg {
  width: 0.82em;
  height: 1em;
  fill: #C8A05F;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-music-off {
  width: 1em;
  height: 1em;
  fill: #C59850;
}
.icon-music-on {
  width: 1em;
  height: 1em;
  fill: #C59850;
}
.icon-notebook {
  width: 1.04em;
  height: 1em;
  fill: #C8A05F;
}
.icon-od {
  width: 1em;
  height: 1em;
  fill: #B78C4D;
}
.icon-pdf {
  width: 0.89em;
  height: 1em;
  fill: #C59850;
}
.icon-pdf__content {
  width: 0.82em;
  height: 1em;
  fill: #C8A05F;
}
.icon-pencil {
  width: 1em;
  height: 1em;
  fill: #3E3E3E;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pinterest {
  width: 0.77em;
  height: 1em;
  fill: #B78C4D;
}
.icon-price-list {
  width: 0.89em;
  height: 1em;
  fill: #C8A05F;
}
.icon-sale {
  width: 3.47em;
  height: 1em;
  fill: #AF0808;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-slider-left {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.icon-slider-right {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.icon-stock {
  width: 0.82em;
  height: 1em;
  fill: #C8A05F;
}
.icon-top-banner {
  width: 10.48em;
  height: 1em;
  fill: #C59850;
}
.icon-twitter {
  width: 1.22em;
  height: 1em;
  fill: #B78C4D;
}
.icon-up-arrow {
  width: 1.56em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1.75em;
  height: 1em;
  fill: #B78C4D;
}
.icon-xls {
  width: 0.82em;
  height: 1em;
  fill: #C8A05F;
}
