.icon-cart {
  width: 1.13em;
  height: 1em;
  fill: #646464;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-dealer {
  width: 0.8em;
  height: 1em;
  fill: none;
}
.icon-delivery {
  width: 1.42em;
  height: 1em;
  fill: #C59850;
}
.icon-heart {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-music-off {
  width: 1em;
  height: 1em;
  fill: #C59850;
}
.icon-music-on {
  width: 1em;
  height: 1em;
  fill: #C59850;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sale {
  width: 3.47em;
  height: 1em;
  fill: #AF0808;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-top-banner {
  width: 10.48em;
  height: 1em;
  fill: #C59850;
}
