.icon-arrow-down-menu {
  width: 1.57em;
  height: 1em;
  fill: #565656;
}
.icon-arrow-right {
  width: 2.2em;
  height: 1em;
  fill: #FFF;
}
.icon-cart {
  width: 1.13em;
  height: 1em;
  fill: #646464;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-dealer {
  width: 0.8em;
  height: 1em;
  fill: none;
}
.icon-delivery {
  width: 1.42em;
  height: 1em;
  fill: #C59850;
}
.icon-facebook {
  width: 0.5em;
  height: 1em;
  fill: #B78C4D;
}
.icon-heart {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-info-1 {
  width: 2.39em;
  height: 1em;
  fill: none;
}
.icon-info-2 {
  width: 1em;
  height: 1em;
  fill: #C59850;
}
.icon-info-3 {
  width: 1.28em;
  height: 1em;
  fill: initial;
}
.icon-info-4 {
  width: 1em;
  height: 1em;
  fill: #C59850;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #B78C4D;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-music-off {
  width: 1em;
  height: 1em;
  fill: #C59850;
}
.icon-music-on {
  width: 1em;
  height: 1em;
  fill: #C59850;
}
.icon-od {
  width: 1em;
  height: 1em;
  fill: #B78C4D;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pinterest {
  width: 0.77em;
  height: 1em;
  fill: #B78C4D;
}
.icon-sale {
  width: 3.47em;
  height: 1em;
  fill: #AF0808;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-slider-left {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.icon-slider-right {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.icon-top-banner {
  width: 10.48em;
  height: 1em;
  fill: #C59850;
}
.icon-twitter {
  width: 1.22em;
  height: 1em;
  fill: #B78C4D;
}
.icon-vk {
  width: 1.75em;
  height: 1em;
  fill: #B78C4D;
}
