.about
  h2 О компании
  .container
    .row
      .col-xs-12.center-xs
        img(src="img/logo.svg", alt="")
        p M.House — это молодая позитивная команда. Наша главная цель — это Ваши положительные эмоции. Мы стараемся работать так, чтобы процесс создания Вашего интерьеры стал приятным путешествием в мир красоты и комфорта. 
        a(href="#").btn.btn-secondary Узнать подробнее
  .swiper-container.about-slider
    .swiper-wrapper
      .swiper-slide(style="background-image: url('img/about/1.jpg')")
        a(href="#") Больше фото
          i.icon.icon-arrow-right
      .swiper-slide(style="background-image: url('img/about/1.jpg')")
        a(href="#") Больше фото
          i.icon.icon-arrow-right
    .swiper-pagination
    .swiper-button-prev
      i.icon.icon-slider-left
    .swiper-button-next
      i.icon.icon-slider-right
