section.about
  h2 О компании
  .container
    .row
      .col-xs-12.center-xs
        img(src="img/logo.svg", alt="")
        p M.House — это молодая позитивная команда. Наша главная цель — это Ваши положительные эмоции. Мы стараемся работать так, чтобы процесс создания Вашего интерьеры стал приятным путешествием в мир красоты и комфорта. 
        a(href="#").btn.btn-secondary Узнать подробнее
  .swiper-container.about-slider
    .swiper-wrapper
      .swiper-slide(style="background-image: url('img/about/1.jpg')")
        p Наш салон по адресу: Нижний Новгород, ул. Республиканская д. 43, к. 7
        a(href="#") Больше фото
          i.icon.icon-arrow-right
      .swiper-slide
        iframe(width='100%', height='100%', src='https://www.youtube.com/embed/7VnbN8Cr5hw', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
        a(href="#") Больше видео
          i.icon.icon-arrow-right
      .swiper-slide
        iframe(src='https://player.vimeo.com/video/266931123?portrait=0', width='100%', height='100%', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        a(href="#") Больше видео
          i.icon.icon-arrow-right
      .swiper-slide
        video(width='400', height='300', controls='controls', poster='video/duel.jpg')
          source(src='https://ak2.picdn.net/shutterstock/videos/3535412/preview/stock-footage-futuristic-network.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
        a(href="#") Больше видео
          i.icon.icon-arrow-right
    .swiper-pagination.about-pagination
    .swiper-button-prev.about-prev
      i.icon.icon-slider-left
    .swiper-button-next.about-next
      i.icon.icon-slider-right
