.info
  .container
    .row
      .col-md-3.center-xs.info__block
        .info__block__icon
          i.icon.icon-info-1
        .info__block__content
          h3 Доставка по России
          p и в страны таможенного союза
      .col-md-3.center-xs.info__block
        .info__block__icon
          i.icon.icon-info-2
        .info__block__content
          h3 Услуги и сервис
          p Мы делаем всё, чтобы покупки приносили только радость
      .col-md-3.center-xs.info__block
        .info__block__icon
          i.icon.icon-info-3
        .info__block__content
          h3 Скидки и бонусы
          p Цены могут быть еще ниже! Подписывайтесь на новости!
      .col-md-3.center-xs.info__block
        .info__block__icon
          i.icon.icon-info-4
        .info__block__content
          h3 Безопасные платежи
          p Любым удобным для вас способом
          