.intro
  .swiper-container.intro-slider
    .swiper-wrapper
      .swiper-slide(style="background-image: url('img/intro/1.jpg')")
        .container
          .row
            .col-xs-12
              article
                h1 Мебель и аксессуары от Uttermost
                p Новое поступление! Зеркальная мебель, статуэтки, лампы — из них складывается индивидуальность вашего дома.
                a.btn.btn-primary(href="#sale" rel="modal:open") Посмотреть каталог
      .swiper-slide(style="background-image: url('img/intro/1.jpg')")
        .container
          .row
            .col-xs-12
              article
                h1 Мебель и аксессуары от Uttermost
                p Новое поступление! Зеркальная мебель, статуэтки, лампы — из них складывается индивидуальность вашего дома.
                a.btn.btn-primary(href="#") Посмотреть каталог
    .swiper-pagination
    .swiper-button-prev
      i.icon.icon-slider-left
    .swiper-button-next
      i.icon.icon-slider-right