
.blocker
  z-index: 1000 
  +r($mobile)
    padding: 60px 0
.modal
  max-width: 350px
  padding: 30px
  border-radius: 3px
  display: none
  +r($mobile)
    width: 100%
    padding: 20px
    border-radius: 0px
  h2
    font-size: 16px
    line-height: 1.5
  p
    text-align: center
    font-size: 14px
    font-weight: 300
    color: $black-three
    margin-bottom: 25px
  a.close-modal
    background: none
    text-indent: 0
    width: 20px
    height: 20px
    color: $white
    text-decoration: none
    font-size: 20px
    right: -30px
    top: 0
    +r($mobile)
      right: 20px
      top: -30px
  &.sign
    max-width: 875px
  &.sale
    max-width: 875px
  .btn-secondary
    background: #ffffff

.sign-flex
  display: flex
  +center
  flex-direction: column


.sale
  &-block
    background-image: url('../img/modal/sale.jpg')
    background-size: cover
    height: 490px
    position: relative
    +r($mobile)
      height: 300px
    &-text
      position: relative
      top: 60px
      padding: 20px
      background: $primary
      color: $white
      font-size: 42px
      font-weight: 600
      line-height: 1.4
      display: inline-block
      text-transform: uppercase
      +r($mobile)
        font-size: 24px
        top: 20px
    .btn
      position: absolute
      bottom: 45px
      left: 45px
      +r($mobile)
        left: 0
