html
body
	font-family: 'Lato'
	background: $grey
	font-size: 15px
	overflow-x: hidden
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%
	-webkit-font-smoothing: antialiased !important
	text-rendering: optimizelegibility
	-moz-osx-font-smoothing: grayscale
	box-sizing: border-box
	&.menu-is-open
		position: fixed
		top: 0
		width: 100%
		left: 0
		z-index: 10
		&:before
			content: ''
			width: 100%
			height: 100%
			background: rgba(#383838, 0.5)
			position: absolute
			top: 0
			left: 0
			z-index: 10
		.header
			background: #383838
			&__phone 
				a
					color: $white
					border-color: $white
				p
					color: rgba($white, 0.5)
			&__toolbar
				a i
					color: $white
.container
	width: 100% !important
	max-width: 1200px
	height: 100%
	box-sizing: border-box
	+r($tablet)
		padding: 0 30px
	+r($mobile)
		padding: 0 20px
.row
	height: 100%


//Заголовки
h2
	font-size: 24px
	font-weight: 300
	line-height: 1.08
	letter-spacing: 7px
	text-align: center
	color: $black-three
	text-transform: uppercase
	margin-bottom: 25px
	position: relative
	+center
//Абзац
p
	font-size: 15px
	line-height: 1.5

+r($mobile)
	.hidden-xs
		display: none !important
@media only screen and (min-width: 768px) and (max-width: 1200px)
	.hidden-sm
		display: none !important
+rmin(1200)
	.hidden-md
		display: none !important


//Кнопка вверх в каталоге
.up
	width: 42px
	height: 42px
	border: solid 1.3px #d4d4d4
	+center
	flex-direction: column
	margin-bottom: 40px
	margin-top: 40px
	cursor: pointer
	float: right
	&:before, &:after
		content: $icon-up-arrow
		@extend %icon
		color: #484848	
		font-size: 6px
		display: block
	

input[type=number]
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    margin: 0


.indent
	margin-left: 20px
	+r($tablet)
		margin-left: 0