
body
  font-family: 'Lato'
  background: #F0F0F0

.container
  width: 100%
  max-width: 1200px
  height: 100%
.row
  height: 100%





//Button
.btn
  padding: 20px
  font-size: 15px
  letter-spacing: 1px
  text-transform: uppercase
  color: rgba($white, 0.9)
  text-decoration: none
  &-primary
    background: $primary
    border-radius: 3px
    box-shadow: 0 12px 23px 0 rgba(0, 0, 0, 0.2)
    border: solid 1px $primary

